<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="create">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>{{ 'TABS.CREATE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="covers">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>{{ 'TABS.COVERS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
