<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="change">
      <ion-icon name="refresh-outline"></ion-icon>
      <ion-label>{{ 'TABS.CHANGE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-epubs">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>{{ 'TABS.COVERS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
