<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <sh-selectable-button-list
    [value]="null"
    [items]="languageSettingsItems"
    [showSelectedIcon]="false"
    (valueChange)="onLanguageSettingsAction()"
  ></sh-selectable-button-list>

  <sh-selectable-button-list
    [value]="null"
    [items]="themeSettingsItems"
    [showSelectedIcon]="false"
    (valueChange)="onThemeSettingsAction()"
  ></sh-selectable-button-list>

  <sh-privacy-policy-section [url]="privacyPolicyUrl"></sh-privacy-policy-section>

  @if (consent.state.umpReady && consent.state.privacyOptionsRequired) {
    <sh-selectable-button-list
      [value]="null"
      [items]="privacyOptionsItems"
      [showSelectedIcon]="false"
      (valueChange)="onPrivacyOptionsAction()"
    ></sh-selectable-button-list>
  }

  <sh-selectable-button-list
    [value]="null"
    [items]="ratingSettingsItems"
    [showSelectedIcon]="false"
    (valueChange)="onRatingSettingsAction($event)"
  ></sh-selectable-button-list>

  <ion-loading
    [isOpen]="isLanguageRestartLoading"
    [message]="'LANGUAGE_SETTINGS.PREPARING_COUNTDOWN' | translate:{ count: languageRestartCountdown }"
    backdropDismiss="false"
  ></ion-loading>

  <ion-modal [isOpen]="isLanguageModalOpen" (didDismiss)="closeLanguageModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="closeLanguageModal()">
              {{ 'COMMON.CANCEL' | translate }}
            </ion-button>
          </ion-buttons>
          <ion-title>{{ 'LANGUAGE_SETTINGS.TITLE' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="confirmLanguageModal()">
              {{ 'COMMON.DONE' | translate }}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="app-modal-content">
        <app-language-radio-list
          [value]="languageDraft"
          [options]="supportedLangs"
          (valueChange)="onLanguageDraftChange($event)"
        ></app-language-radio-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
