<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CATEGORY_FORM.EDIT_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-page">
    @if (notFound) {
      <ion-note color="danger">{{ 'CATEGORY_FORM.ERROR_NOT_FOUND' | translate }}</ion-note>
    } @else {
      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">
              {{ 'CATEGORY_FORM.NAME_LABEL' | translate }}
            </ion-label>
            <ion-input
              formControlName="name"
              [placeholder]="'CATEGORY_FORM.NAME_PLACEHOLDER' | translate"
              maxlength="64"
              (ionBlur)="onNameBlur()"
            ></ion-input>
          </ion-item>
        </ion-list>

        @if (validationMessageKey) {
          <ion-note color="danger">{{ validationMessageKey | translate }}</ion-note>
        }

        @if (loadFailed) {
          <ion-note color="danger">{{ 'CATEGORIES.ERROR_LOAD' | translate }}</ion-note>
        }

        @if (saveFailed) {
          <ion-note color="danger">{{ 'CATEGORY_FORM.ERROR_SAVE' | translate }}</ion-note>
        }

        <ion-button expand="block" type="submit" [disabled]="saveDisabled">
          {{ 'CATEGORY_FORM.UPDATE_ACTION' | translate }}
        </ion-button>
      </form>
    }
  </div>
</ion-content>
