<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'TABS.HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-epubs">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>{{ 'TABS.MY_EPUBS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
