<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'AGENDA.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        (click)="openQuickCreate()"
        [attr.aria-label]="'TASKS.NEW_TASK' | translate"
      >
        <ion-icon name="add-outline" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-page agenda-page">
    @if (loadFailed) {
      <ion-note color="danger" class="app-state-note agenda-state-note">
        {{ 'COMMON.ERROR' | translate }}
      </ion-note>
    }

    <app-agenda-controls
      [currentView]="currentView"
      [dayHeaderWeekdayLabel]="dayHeaderWeekdayLabel"
      [dayHeaderDateLabel]="dayHeaderDateLabel"
      [monthHeaderLabel]="monthHeaderLabel"
      [yearHeaderLabel]="yearHeaderLabel"
      (viewModeChange)="onViewModeSelected($event)"
      (shiftScope)="onScopeShift($event)"
    ></app-agenda-controls>

    <div class="agenda-view-shell">
      <ng-template #agendaViewHost></ng-template>
    </div>

    @if (isLoading) {
      <sh-loading-state
        variant="fullscreen"
        [label]="'COMMON.LOADING' | translate"
      ></sh-loading-state>
    }
  </div>
</ion-content>
