<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list inset="true">
    <ion-item button detail="true" (click)="openLanguageModal()">
      <ion-label class="ion-text-wrap">
        <h2>{{ 'SETTINGS.LANGUAGE' | translate }}</h2>
        <p>
          <span
            class="app-language-option__flag"
            [ngClass]="currentLanguageOption?.flagClass"
            aria-hidden="true"
          ></span>
          {{ currentLanguageOption?.label }}
        </p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" [routerLink]="['/tabs/settings/theme']">
      <ion-label class="ion-text-wrap">
        <h2>{{ 'SETTINGS.THEME' | translate }}</h2>
        <p>{{ currentThemeLabelKey | translate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <sh-privacy-policy-section [url]="privacyPolicyUrl"></sh-privacy-policy-section>

  <ion-list inset="true">
    <ion-item button detail="true" (click)="previewRatingPrompt()">
      <ion-label>{{ 'RATING.DEBUG.PREVIEW_PROMPT' | translate }}</ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="previewRatingFeedback()">
      <ion-label>{{ 'RATING.DEBUG.PREVIEW_FEEDBACK' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-loading
    [isOpen]="isLanguageRestartLoading"
    [message]="'SETTINGS.LANGUAGE_PREPARING_COUNTDOWN' | translate:{ count: languageRestartCountdown }"
    backdropDismiss="false"
  ></ion-loading>

  <ion-modal [isOpen]="isLanguageModalOpen" (didDismiss)="closeLanguageModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="closeLanguageModal()">
              {{ 'COMMON.CANCEL' | translate }}
            </ion-button>
          </ion-buttons>
          <ion-title>{{ 'SETTINGS.LANGUAGE' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="confirmLanguageModal()">
              {{ 'COMMON.DONE' | translate }}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <app-language-radio-list
            [value]="languageDraft"
            [options]="supportedLangs"
            (valueChange)="onLanguageDraftChange($event)"
          ></app-language-radio-list>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
