<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'MY_EPUBS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <sh-cover-list-content
    [items]="items"
    [loading]="loading"
    [pageErrorKey]="pageErrorKey"
    [pageErrorParams]="pageErrorParams"
    [emptyKey]="'MY_EPUBS.EMPTY'"
    [placeholderKey]="'MY_EPUBS.PLACEHOLDER'"
    [showFileName]="true"
    [filenameFormatter]="displayFilename"
    [actions]="listActions"
    [thumbAlt]="'MY_EPUBS.THUMB_ALT' | translate"
    (refreshRequested)="load($event)"
    (itemClick)="onItemClick($event)"
    (actionClick)="onListAction($event)"
  ></sh-cover-list-content>
</ion-content>
