<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'COVERS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScrollStart)="onListScrollStart()"
  (ionScrollEnd)="onListScrollEnd()"
>
  <div class="covers-page__content">
    <sh-cover-list-content
      #listContent
      [items]="items"
      [loading]="loading"
      [pageErrorKey]="pageErrorKey"
      [pageErrorParams]="pageErrorParams"
      [showNotice]="true"
      noticeKey="COVERS.DITHERED_THUMBNAIL_NOTICE"
      [actions]="listActions"
      thumbAlt="cover"
      (refreshRequested)="load($event)"
      (itemClick)="onListItemClick($event)"
      (actionClick)="onListAction($event)"
    ></sh-cover-list-content>
  </div>

</ion-content>
