<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/presupuestos"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="child() as current; else missing">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input
          [value]="nameValue"
          (ionInput)="nameValue = $event.detail.value ?? ''"
          (ionBlur)="saveName()"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Género</ion-label>
        <ion-segment
          [(ngModel)]="genderValue"
          (ionChange)="updateGender($event.detail.value)"
        >
          <ion-segment-button value="nino">
            <ion-icon name="man" aria-hidden="true"></ion-icon>
            <ion-label>Niño</ion-label>
          </ion-segment-button>
          <ion-segment-button value="nina">
            <ion-icon name="woman" aria-hidden="true"></ion-icon>
            <ion-label>Niña</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Abono por niño</ion-label>
        <ion-input
          type="number"
          step="0.01"
          inputmode="decimal"
          [value]="current.creditAmount"
          (ionChange)="updateCreditAmount($event.detail.value)"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-card class="pn-saldo-card">
      <ion-card-header>
        <ion-card-subtitle>Saldo actual</ion-card-subtitle>
        <ion-card-title class="pn-saldo-amount pn-balance" [ngClass]="getBalanceClass(current.balance)">
          {{ current.balance | currency:'MXN':'symbol':'1.2-2' }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="pn-saldo-actions">
        <ion-button expand="block" (click)="onAddExpense()">
          <ion-icon name="add" slot="start" aria-hidden="true"></ion-icon>
          Agregar gasto
        </ion-button>

        <ion-button expand="block" fill="outline" (click)="onEditBalance()">
          <ion-icon name="create-outline" slot="start" aria-hidden="true"></ion-icon>
          Editar saldo
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item-sliding *ngFor="let expense of current.expenses">
        <ion-item (click)="updateExpenseLabel(expense.id, expense.label)">
          <ion-label>{{ expense.label }}</ion-label>
          <div class="pn-expense-amount">
            - {{ expense.amount | currency:'MXN':'symbol':'1.2-2' }}
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteExpense(expense.id)">
            <ion-icon name="trash-outline" slot="icon-only" aria-hidden="true"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ng-template #missing>
    <div class="empty-state">No se encontró el niño solicitado.</div>
  </ng-template>
</ion-content>