<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TODAY.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>{{ 'TODAY.TASKS_SUMMARY' | translate }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>{{ 'TODAY.PROGRESS_SUMMARY' | translate }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>{{ 'TODAY.REFLECTION_PROMPT' | translate }}</ion-card-content>
  </ion-card>
</ion-content>
