<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'REQUISITES.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list inset="true">
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <h2>{{ 'REQUISITES.ADS_TITLE' | translate }}</h2>
        <p>{{ 'REQUISITES.ADS_DESC' | translate }}</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="openLink(links.removeAds)">
      <ion-label>{{ 'REQUISITES.ADS_LINK' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <h2>{{ 'REQUISITES.COVER_TITLE' | translate }}</h2>
        <p>{{ 'REQUISITES.COVER_DESC' | translate }}</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="openLink(links.displayCover)">
      <ion-label>{{ 'REQUISITES.COVER_LINK' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <h2>{{ 'REQUISITES.APP_TITLE' | translate }}</h2>
        <p>{{ 'REQUISITES.APP_DESC' | translate }}</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="openLink(links.kindleAndroid)">
      <ion-label>{{ 'REQUISITES.APP_ANDROID' | translate }}</ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="openLink(links.kindleIOS)">
      <ion-label>{{ 'REQUISITES.APP_IOS' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <h2>{{ 'REQUISITES.SEND_TITLE' | translate }}</h2>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="openLink(links.sendToKindle)">
      <ion-label>{{ 'REQUISITES.SEND_LINK' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p>{{ 'REQUISITES.NOTE' | translate }}</p>
    </ion-label>
  </ion-item>
</ion-content>
