<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TABS.HOME' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <div class="home__stack">
    <section class="home-action-section" aria-labelledby="home-action-title">
      <div class="field-title">
        <span id="home-action-title">
          {{ 'HOME.WHAT_DO_YOU_WANT_TO_DO' | translate }}
        </span>
      </div>

      <div class="home-action-grid">
        <sh-action-card
          [title]="'HOME.MERGE' | translate"
          [svg]="mergeIconSvg()"
          [ariaLabel]="'HOME.MERGE' | translate"
          (click)="openUnderConstruction()"
        ></sh-action-card>

        <sh-action-card
          [title]="'HOME.SPLIT' | translate"
          [svg]="splitIconSvg()"
          [ariaLabel]="'HOME.SPLIT' | translate"
          (click)="openUnderConstruction()"
        ></sh-action-card>
      </div>
    </section>
  </div>
</ion-content>
