<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/change"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'COVERS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScrollStart)="onListScrollStart()"
  (ionScrollEnd)="onListScrollEnd()"
>
  <sh-cover-list-content
    #listContent
    [items]="items"
    [loading]="loading"
    [pageErrorKey]="pageErrorKey"
    [pageErrorParams]="pageErrorParams"
    [actions]="listActions"
    [showFileName]="true"
    [filenameFormatter]="displayFilename"
    thumbAlt="epub cover"
    (refreshRequested)="load($event)"
    (itemClick)="onListItemClick($event)"
    (actionClick)="onListAction($event)"
  ></sh-cover-list-content>

  <sh-cover-preview-modal
    [isOpen]="previewOpen"
    [imageDataUrl]="previewDataUrl"
    [loading]="previewLoading"
    [gettingCover]="previewGettingCover"
    gettingCoverTextKey="CHANGE.GETTING_COVER"
    loadingTextKey="COVERS.LOADING_PREVIEW"
    [headerActions]="previewHeaderActions"
    [footerActions]="previewFooterActions"
    [unavailableConfig]="previewUnavailableConfig"
    (dismissed)="closePreview()"
    (actionClick)="onPreviewAction($event)"
  ></sh-cover-preview-modal>
</ion-content>
